.tv-right {
  width: 530px;
  margin-right: 57px;
  margin-left: -63px;
}

.title-apresentacao-right {
  margin-right: 23px;
}

.subtitle-apresentacao-right {
  margin-top: 10px;
  margin-right: 60px;
}
